<!DOCTYPE html>
<html lang="en">

<head>
	<title>The Crossroads of Film</title>
	<link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
	<h1>Advanced Search</h1>
	<form>	
		<h3>Search in a Year Range<h5>
		<p>Beginning Year: <input type="text" name="beginningYear"/></p>
		<p>Ending Year: <input type="text" name="endingYear"/></p>
		<h3>Search by Genres</h5>
		<select name="genre">
			<option>Action</option>
			<option>Adventure</option>
			<option>Animation</option>
			<option>Biography</option>
			<option>Comedy</option>
			<option>Crime</option>
			<option>Documentary</option>
			<option>Drama</option>
			<option>Family</option>
			<option>Fantasy</option>
			<option>Film-Noir</option>
			<option>History</option>
			<option>Horror</option>
			<option>Music</option>
			<option>Musical</option>
			<option>Mystery</option>
			<option>Romance</option>
			<option>Sci-Fi</option>
			<option>Sport</option>
			<option>Thriller</option>
			<option>War</option>
			<option>Western</option>
		</select>
		<h3>Search by Actor Name</h3>	
		<p>Actor Name: <input type="text" name="actor"/></p>
		<!--  
			Ratings
			Actors
			Name exact match
		-->
		<p><input type="submit"/></p>
	</form>
</body>
