<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="../static/css/styles.css">
	<title>The Crossroads of Film</title>
</head>
<body>
	<h1 class="mainTitle" align="center"> Welcome to the Crossroads of Film</h1>
	<div class="row">
		<a href="{{ url_for('search') }}" class="button1">Search for Films</a>
		<a href="adv_search.html" class="button1">Advanced Search</a>
		<a href="{{ url_for('update') }}" class="button1">Rate a Film</a>
		<a href="index.html" class="button1">Get Recommendations</a>
                <a href="{{ url_for('follow') }}" class="button1">Follow Other Users</a>
	</div>
	<div class="bottomButton">
		<a href="{{ url_for('insert') }}">Insert</a>
		<a href="{{ url_for('logout') }}">Logout</a>
		<!-- <a href="{{ url_for('search') }}">Delete</a> -->
	</div>
</body>
</html>
