<!DOCTYPE html>
<html lang="en">

<head>
	<title>The Crossroads of Film</title>
	<link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
	<h1> Welcome to the Crossroads of Film</h1>
	<h5> Currently under construction</h5>
	<form action="/insert" method="post">
		<p>Movie Title: <input type = "text" name = "movieTitle" /></p>
		<p>Movie Year: <input type = "text" name = "movieYear" /></p>
		<p>Movie ID: <input type = "text" name = "mid" /></p>
		<p><input type = "submit" value = "INSERT" /></p>
	</form>
	<form action="/search" method="post">
		<p>Search by Movie Title: <input type="text" name= "movieSearch" /></p>
		<p><input type = "submit" value = "SEARCH" /></p>
	</form>
	<form action="/delete" method="post">
		<p>Delete by Movie ID: <input type="text" name="movieID"</p>
		<p><input type = "submit" value="DELETE">
	</form>
        <form action="/update" method="post">
                <p>MovieID: <input type="text" name="movieID"</p>
                <p>Rating: <input type="text" name="currentRating"</p>
                <p><input type = "submit" value="UPDATE">
        </form>
	<a href="{{ url_for('homepage') }}" class="button1">Back</a>

</body>
</html>
