<!DOCTYPE html>
<html lang="en">

<head>
	<title>The Crossroads of Film</title>
	<link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
	<h1> Welcome to the Crossroads of Film</h1>
	<h5> Currently under construction</h5>
	<form action="/insert" method="post">
		<p>Movie Title to Insert: <input type = "text" name = "movieTitle" /></p>
		<p>Movie Year: <input type = "text" name = "movieYear" /></p>
		<input type="radio" name="is_tv" value="1" checked> Movie
		<input type="radio" name="is_tv" value="0"> TV
		<p><input type = "submit" value = "INSERT" /></p>
	</form>
		<p>Inserted Movie: {{ name }}</p>
		<p>Year: {{ year }}</p>
	<a href="{{ url_for('homepage') }}" class="large_button">Back</a>
</body>
</html>
