<!DOCTYPE html>
<html lang="en">

<head>
        <title>The Crossroads of Film</title>
        <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
        <h1 class="mainTitle" align="center"> Welcome to the Crossroads of Film</h1>
	<h2 class="user">User: {{tuples[0][1]}}</h2>

        <table>
                <tr>
                        <th>My Likes</th>
               </tr>
                {% if tuples %}
                        {% for row in tuples %}
                                <tr>
                                        <td>{{row[1]}}</td>
                                        <td>
                                            <form action="/likes" method="post">
                                                <input type = "hidden" name = "movieID" value = "{{ row[0] }}">
                                                <input type = "submit" name = 'submit' value = "Unlike" />
                                            </form>
                                        </td>
                               </tr>
                        {% endfor %}
                {% else %}
                        <td>No movies found!</td><br>
                {% endif %}

        </table>
        <a href="{{ url_for('homepage') }}" class="large_button">Back</a>
</body>
</html>












