<!DOCTYPE html>
<html lang="en">

<head>
        <title>The Crossroads of Film</title>
        <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
        <h1> Welcome to the Crossroads of Film</h1>
        <h5> Currently under construction</h5>
        <form action="/rate/{{ movieID }}" method="post">
                <p>Rating: </p>
                <input type="radio" name="userRating" value="1" checked> 1
                <input type="radio" name="userRating" value="2"> 2
                <input type="radio" name="userRating" value="3"> 3
                <input type="radio" name="userRating" value="4"> 4
                <input type="radio" name="userRating" value="5"> 5                
                <p><input type = "submit" value="UPDATE">
        </form>
        <p>MovieID: {{ movieID }}</p>
	<p>Updated Rating: {{ rating }}</p>
	<a href="{{ url_for('homepage') }}" class="large_button">Back</a>
</body>
</html>