<!DOCTYPE html>
<html lang="en">

<head>
        <title>The Crossroads of Film</title>
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
        <h1> Welcome to the Crossroads of Film</h1>
        <form action="/rate/{{ movieID }}/{{ movieName }}" method="post">
                <p>Rating: </p>
                <input type="radio" name="userRating" value="1" checked> 1<br>
                <input type="radio" name="userRating" value="2"> 2<br>
                <input type="radio" name="userRating" value="3"> 3<br>
                <input type="radio" name="userRating" value="4"> 4<br>
                <input type="radio" name="userRating" value="5"> 5<br> 
                <input type="radio" name="userRating" value="6"> 6<br>
                <input type="radio" name="userRating" value="7"> 7<br>    
                <input type="radio" name="userRating" value="8"> 8<br>
                <input type="radio" name="userRating" value="9"> 9<br>
                <input type="radio" name="userRating" value="10"> 10          
                <p><input type = "submit" value="UPDATE">
        </form>
        <p>Movie Name: {{ movieName }}</p>
	<p>Updated Rating: {{ rating }}</p>
	<a href="{{ url_for('homepage') }}" class="large_button">Back</a>
</body>
</html>