<!DOCTYPE html>
<html lang="en">

<head>
	<title>The Crossroads of Film</title>
	<link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
	<h1> Welcome to the Crossroads of Film</h1>
	<h5> Currently under construction</h5>
	<form action="/search" method="post">
		<p>Search by Movie Title: <input type="text" name= "movieSearch" /></p>
		<p><input type = "submit" value = "SEARCH" /></p>
	</form>
	<h1>{{ tuples[0][1] }}</h1>
	<!-- <tr>
		{% for row in tuples %}
		   <td>{{row[0]}}</td>
		   <td>{{row[1]}}</td> 
		   <td>{{row[2]}}</td>
		   <td>{{row[3]}}</td>
		{% endfor %}
	</tr> -->
	<!-- <p>Movie: {{ name }}</p>
        <p>MovieID: {{ movieID }}</p>
        <p>Year: {{ year }}</p> -->
	<!-- <form action="/delete" method="post">
		<input type="hidden" name="movieID" value=movieID>
		<p><input type = "submit" value = "DELETE" /></p>
	</form> -->
	<a href="{{ url_for('homepage') }}" class="button1">Back</a>
</body>
</html>
