<!DOCTYPE html>
<html lang="en">

<head>
        <title>The Crossroads of Film</title>
        <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
        <h1> Welcome to the Crossroads of Film</h1>
        <h5> Currently under construction</h5>
        <form action="/update" method="post">
		<p>Search by Movie Title: <input type="text" name= "movieSearch" /></p>
		<p><input type = "submit" value = "SEARCH" /></p>
        </form>
        <table>
		<tr>
			<th>Movie Title</th>
			<th>Year</th>
                </tr>
                {% if tuples %}
                        {% for row in tuples %}
                        <tr>
                                <td><a href="{{ url_for('rate', movieID = row[0]) }}">{{ row[1] }}</a></td>
                                <td>{{ row[2] }}</td>                              
                        </tr>			
                        {% endfor %}
                {% else %}
                        <td>No movies found!</td><br>
                {% endif %}
        </table>

        <!-- <form action="/update" method="post">
                <p>MovieID: <input type="text" name="movieID"</p>
                <p>Rating: <input type="text" name="userRating"</p>
                <p><input type = "submit" value="UPDATE">
        </form> -->
        <!-- <p>MovieID: {{ movieID }}</p>
	<p>Updated Rating: {{ rating }}</p> -->
	<a href="{{ url_for('homepage') }}" class="large_button">Back</a>
</body>
</html>





