<!DOCTYPE html>
<html lang="en">

<head>
	<title>The Crossroads of Film</title>
	<link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
	<h1>Advanced Search</h1>
	<form action="/adv_search" method="post">	
		<h3>Search by Title</h3>
		<p>Begins with: <input type="text" name="titleBeginning"/></p>
		<p>Contains: <input type="text" name="titleContains"/></p>
		<h3>Search in a Year Range<h5>
		<p>Beginning Year: <input type="text" name="beginningYear"/></p>
		<p>Ending Year: <input type="text" name="endingYear"/></p>
		<h3>Search by Genres</h5>
		<select name="genre">
			<option>All</option>
			<option>Action</option>
			<option>Adventure</option>
			<option>Animation</option>
			<option>Biography</option>
			<option>Comedy</option>
			<option>Commercial</option>
			<option>Crime</option>
			<option>Documentary</option>
			<option>Drama</option>
			<option>Experimental</option>
			<option>Family</option>
			<option>Fantasy</option>
			<option>Film-Noir</option>
			<option>Game-Show</option>
			<option>History</option>
			<option>Horror</option>
			<option>Lifestyle</option>
			<option>Music</option>
			<option>Musical</option>
			<option>Mystery</option>
			<option>News</option>
			<option>Reality-TV</option>
			<option>Romance</option>
			<option>Sci-Fi</option>
			<option>Short</option>
			<option>Sport</option>
			<option>Talk-Show</option>
			<option>Thriller</option>
			<option>War</option>
			<option>Western</option>
		</select>
		<h3>Search by Actor Name</h3>	
		<p>Actor Name: <input type="text" name="actor"/></p>
		<h3>Search by Ratings</h3>
		<p>(Ratings Scale: 1 - 10)</p>
		<p>Ratings Greater Than: <input type="text" name="beginningRating"/></p>
		<p>Ratings Less Than: <input type="text" name="endingRating"/></p>
		<p><input type="submit" name="submit" value="SEARCH"/></p>
	</form>
	
	<table>
		<tr>
			<th>Movie Title</th>
			<th>Year</th>
			<th>Rating</th>
		</tr>
		{% if tuples %}
			{% for row in tuples %}
				<tr>
					<td>{{row[1]}}</td> 
					<td>{{row[2]}}</td>
					<td>{{row[3]}}</td>
					<td>
						<form action="/search" method="post">
							<input type = "hidden" name = "movieID" value = "{{ row[0] }}">
							<input type = "submit" name = 'submit' value = "Like" />
						</form>
					</td>
				</tr>
			{% endfor %}
		{% else %}
			<td>No movies found!</td><br>
		{% endif %}

	</table>
	<a href="{{ url_for('homepage') }}" class="large_button">Back</a>
	
</body>
