<!DOCTYPE html>
<html lang="en">

<head>
	<title>The Crossroads of Film</title>
	<link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
	<h1 class="mainTitle" align="center"> Welcome to the Crossroads of Film</h1>
	<h5> Based on users you follow, you may like these: </h5>
	<table>
		<tr>
			<th>Movie ID</th>
			<th>Movie Title</th>
			<th>Year</th>
		</tr>
		{% if tuples %}
			{% for row in tuples %}
				<tr>
					<td>{{row[0]}}</td>
					<td>{{row[1]}}</td> 
					<td>{{row[2]}}</td>
				</tr>
			{% endfor %}
		{% else %}
			<td>No movies found!</td><br>
		{% endif %}

	</table>
	<a href="{{ url_for('homepage') }}" class="large_button">Back</a>
</body>
</html>