<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="../static/css/styles.css">
	<title>The Crossroads of Film</title>
</head>
<body>
	<h1 align="center"> Welcome to the Crossroads of Film</h1>
	<div class="row">
		<a href="search.html" class="large_button">Search for Films</a>
		<a href="index.html" class="large_button">Advanced Search</a>
		<a href="rate.html" class="large_button">Rate a Film</a>
		<a href="index.html" class="large_button">Get Recommendations</a>
	</div>
	<div class="bottomButton">
		<a href="{{ url_for('insert') }}">Insert</a>
		<a href="delete.html">Delete</a>
	</div>
</body>
</html>
