<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="../static/css/homepage.css">
	<title>The Crossroads of Film</title>
</head>
<body>
	<h1 align="center"> Welcome to the Crossroads of Film</h1>
	<div class="row">
		<a href="search.html" class="button1">Search for Films</a>
		<a href="index.html" class="button1">Advanced Search</a>
		<a href="rate.html" class="button1">Rate a Film</a>
		<a href="index.html" class="button1">Get Recommendations</a>
	</div>
	<div class="bottomButton">
		<a href="insert.html">Insert</a>
		<a href="delete.html">Delete</a>
	</div>
</body>
</html>
