<!DOCTYPE html>
<html lang="en">

<head>
	<title>The Crossroads of Film</title>
</head>
<body>
	<h1> Welcome to the Crossroads of Film</h1>
	<h5> Currently under construction</h5>
	<form action="/insert" method="post">
		<p>Movie Title: <input type = "text" name = "movieTitle" /></p>
		<p>Movie Year: <input type = "text" name = "movieYear" /></p>
		<p>Movie ID: <input type = "text" name = "mid" /></p>
		<p><input type = "submit" value = "INSERT" /></p>
	</form>
	<p>{{ name }}</p>
	<p>{{ year }}</p>
	<p>{{ mid }}</p>
</body>
</html>
